{#
/**
 * @file
 * Default theme implementation to present an event record.
 *
 * This template is used when viewing a registered event record's page,
 * e.g., /event-record/123. 123 being the event record's ID.
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 *   print a subset such as 'content.title'.
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_event_record()
 */
#}
<article{{ attributes }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</article>
